@use '../../abstract' as *;

@layer components {
    .section-about {
        >.container {
            gap: 0;
        }

        &__container {
            display: grid;
            gap: $space-md;
            position: relative;
            z-index: 2;

            @include mqMin($sm) {
                grid-template-columns: 1fr 2fr;
            }
        }

        &__me {
            border-radius: 50%;
            border: 10px solid var(--clr-border);

            @include mqMax($sm) {
                border-width: 5px;
                width: clamp_(125px, 200px, 320px, $sm);
                margin-top: calc(clamp_(75px, 150px, 320px, $sm) * -1);
            }
        }

        &__text {
            @include font(clamp_(16px, 18px), normal, 1.7);
            color: var(--clr-text);
            margin-bottom: $space-md;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__highlight {
            color: var(--clr-accent);
            font-weight: 500;
        }

        &__map-wrapper {
            aspect-ratio: 16/9;
            border: 1px solid var(--clr-border);
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                inset: -10px;
                pointer-events: none;
                background-image: linear-gradient(to top, var(--clr-bg) 10%, transparent 150%);
            }
        }

        &__map {
            width: 100%;
            height: 100%;
            filter: grayscale(0.5) contrast(1.2);
            @include transition(filter);

            @include hover {
                filter: grayscale(0) contrast(1);
            }
        }
    }
}