@layer colors {
	:root {
		--clr-bg-main: light-dark(#fff, #030303);
		--clr-bg-alt: light-dark(#030303, #fff);
		--clr-text-main: light-dark(#030303, #fff);
		--clr-text-alt: light-dark(#fff, #030303);
		--clr-text-muted: light-dark(#6c6c6c, #999);
	}
}
