@layer colors {
	:root {
		--clr-background-main: light-dark(#fff, #030303);
		--clr-background-alt: light-dark(#030303, #fff);
		--clr-font-main: light-dark(#030303, #fff);
		--clr-font-alt: #fff;
	}
}
