@use "../abstract/" as *;

@layer config {
  @property --container-padding {
    syntax: "<length>";
    inherits: false;
    initial-value: 25px;
  }

  @property --container-width {
    syntax: "<length>";
    inherits: false;
    initial-value: 800px;
  }

  @property --container-width-narrow {
    syntax: "<length>";
    inherits: false;
    initial-value: 600px;
  }

  @property --section-gap {
    syntax: "<length>";
    inherits: false;
    initial-value: 60px;
  }

  @property --transition-duration {
    syntax: "<time>";
    inherits: false;
    initial-value: 0.3s;
  }

  @property --transition-timing-function {
    syntax: "linear | ease | ease-in | ease-out | ease-in-out";
    inherits: false;
    initial-value: linear;
  }

  :root {
    color-scheme: light dark;
    --transition: var(--transition-duration, 0.3s)
      var(--transition-timing-function, ease);
  }

  html {
    scroll-padding-top: var(--header-height);
    scroll-behavior: smooth;

    cursor: none;

    &[data-theme="dark"] {
      color-scheme: dark;
    }

    &[data-theme="light"] {
      color-scheme: light;
    }

    &:has(header.menu__open) {
      overflow-y: clip;
    }
  }

  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    background-color: var(--clr-bg-main);
    color: var(--clr-text-main);
  }

  main {
    padding-top: calc(var(--header-height) + (var(--section-gap) / 2));
    padding-bottom: calc(var(--section-gap) / 2);
    flex-grow: 1;
  }

  .container {
    margin-inline: auto;
    max-width: var(--container-width);
    padding-inline: var(--container-padding);

    @include mqMin($md) {
      &.narrow {
        padding-inline: calc(
          var(--container-padding) +
            (var(--container-width) - var(--container-width-narrow)) / 2
        );
      }
    }
  }

  img {
    display: block;
    height: auto;
    object-fit: cover;
    max-width: 100%;
  }

  a,
  button {
    cursor: none;

    &:focus-visible {
      outline: 1px solid var(--clr-bg-alt);
      outline-offset: 4px;
    }
  }
}
