// ==========================================================================
// Global Configuration
// ==========================================================================

@use '../abstract' as *;

@layer config {
    :root {
        --container-width: 800px;
        --container-padding: 20px;
        --transition-duration: 300ms;
        --transition-timing-function: ease-out;
    }

    html {
        scrollbar-gutter: stable;
        scroll-behavior: smooth;
    }

    body {
        min-height: 100vh;
        background-color: var(--clr-bg);
        color: var(--clr-text);

        @include transition(background-color, color);

        scroll-behavior: smooth;
    }

    .app-layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .main-content {
        flex-grow: 1;
        padding-top: var(--header-height);
    }

    .container {
        width: 100%;
        max-width: var(--container-width);
        margin-inline: auto;
        padding-inline: var(--container-padding);
    }
}