@use "../../abstract/" as *;

.footer {
    border-top: 1px solid var(--clr-border);
    padding-block: $space-lg;
    margin-top: $space-xl;
    color: var(--clr-text-muted);
    @include font(0.875rem);
    display: flex;
    gap: 10px;

    @include mqMin($sm) {
        align-items: center;
        justify-content: space-between;
    }

    @include mqMax($sm) {
        flex-direction: column;
        align-items: flex-start;
    }
}
