@use '../abstract' as *;

.hero {
  padding-block: $space-xl;

  &__title {
    margin-bottom: $space-md;
  }

  em {
    font-style: italic;
    color: var(--clr-accent);
  }

  &__text {
    @include font(clamp_(18px, 24px));
    color: var(--clr-text-muted);
    max-width: 50ch;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}